.dsc-product-form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#dsc-product-form-section .dsc-form {
  padding: 40px 20px;
}

.dsc-form-control:focus {
  outline: none;
}

.dsc-form-control::placeholder {
  color: var(--dsc-color-placeholder);
}

.dsc-textarea {
  height: 128px;
  padding-top: 10px;
  resize: none;
  color: var(--dsc-color-primary);
}

.dsc-form-container-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: var(--dsc-font-bold-md);
}

.dsc-product-form-button {
  font: var(--dsc-font-bold-md);
}

@media (min-width: 576px) {
  #dsc-product-form-section {
    padding: 40px 0;
  }

  #dsc-product-form-section h2 {
    font: var(--dsc-font-regular-xlg);
  }

  .dsc-form-container-buttons {
    flex-direction: row;
  }
}