.dsc-product-form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#dsc-product-form-section .dsc-form {
  padding: 40px 20px;
}

.dsc-form-control {
  width: 100%;
  height: 40px;
  font: var(--dsc-font-regular-md);
  padding: 0 20px;
  color: var(--dsc-color-placeholder);
  border-radius: var(--dsc-border-radius-sm);
  border: var(--dsc-border-primary);
}

.dsc-form-control:focus {
  outline: none;
}

.dsc-form-control::placeholder {
  color: var(--dsc-color-placeholder);
}

.dsc-textarea {
  height: 128px;
  padding-top: 10px;
  resize: none;
}

.dsc-form-container-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: var(--dsc-font-bold-md);
}

/* .dsc-product-form-buttons {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
} */

@media (min-width: 576px) {
  #dsc-product-form-section {
    padding: 40px 0;
  }

  #dsc-product-form-section h2 {
    font: var(--dsc-font-regular-xlg);
  }

  .dsc-form-container-buttons {
    flex-direction: row;
  }
}