.dsf-listing-body-container {
  background-color: var(--dsf-bg-tertiary);
  padding: 20px 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}

.dsf-listing-body-items,
.dsf-listing-body-warning {
  background-color: var(--dsf-bg-secondary);
  padding: 20px;
  border: var(--dsf-border-primary);
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dsf-listing-body-warning {
  font: var(--dsf-font-subtitle);
  color: var(--dsf-color-quaternary);
}