.dsc-header-admin {
  background-color: var(--dsc-bg-header-secondary);
  color: var(--dsc-color-secondary);
}

.dsc-header-admin h1 {
  font: var(--dsc-font-bold-md);
}

.dsc-nav {
  padding: 0 20px;
}

.dsc-navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dsc-menu-items-icons-admin {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.dsc-item-admin {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.dsc-item-admin img {
  width: 20px;
  height: 20px;
}

.dsc-item-admin p {
  font: var(--dsc-font-regular-sm);
  display: none;
}

.dsc-navbar-right-admin a {
  font: var(--dsc-font-bold-sm);
}

.dsc-navbar-right-admin {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (min-width: 576px) {
  .dsc-menu-items-icons-admin {
    gap: 22px;
  }

  .dsc-item-admin p {
    display: block;
  }
}
