#cart-container-section {
  /* padding: 20px 0; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dsc-cart-item-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.dsc-line-bottom {
  border-bottom: var(--dsc-border-primary);
}

.dsc-cart-item-left {
  display: flex;
  gap: 22px;
}

.dsc-cart-item-left img {
  width: 78px;
  height: 78px;
}

.dsc-cart-item-description {
  padding: 10px 0;
  color: var(--dsc-color-font-primary);
}

.dsc-cart-item-description h3 {
  text-align: left;
  font-size: var(--dsc-font-bold-xs);
  color: var(--dsc-color-primary);
}

.dsc-cart-item-quantity-container {
  font: var(--dsc-font-bold-md);
  display: flex;
}

.dsc-cart-item-quantity-container p {
  margin: 0 5px;
  color: var(--dsc-color-primary)
}

.dsc-cart-item-quantity-btn {
  color: var(--dsc-color-quaternary);
  cursor: pointer;
}

.dsc-cart-item-right {
  padding-bottom: 10px;
  font: var(--dsc-font-bold-xs);
  color: var(--dsc-color-tertiary);
}

.dsc-cart-total-container {
  padding: 10px 20px;
  font: var(--dsc-font-bold-md);
  color: var(--dsc-color-tertiary);
}

.dsc-btn-page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dsc-cart-button {
  font: var(--dsc-font-bold-md);
}

@media (min-width: 576px) {
  .dsc-cart-item-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .dsc-cart-item-right {
    padding-top: 10px;
  }

  .dsc-cart-total-container h3 {
    text-align: right;
  }

  .dsc-btn-page-container {
    max-width: 280px;
  }
}