#dsgh-home-body {
  background-color: var(--dsgh-bg-color-primary);
}

.dsgh-home-body-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 27px;
}

.dsgh-header-container h1 {
  font-size: 32px;
  font-weight:700;
  line-height: 64px;
  letter-spacing: 2px;
  color: #000000;
}

.dsgh-header-container p {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  line-height: 40px;
  color: #7E7E7E;
  letter-spacing: 0.2px;
}

.dsgh-btn-primary {
  padding: 8px 18px;
}

@media (min-width: 768px) {
  .dsgh-home-body-container {
    padding: 20px 41px;
  }

  .dsgh-header-container h1 {
    font-size: 48px;
  }
}