.dsc-dialog-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dsc-dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dsc-bg-primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--dsc-border-radius-sm);
  gap: 20px;
}

.dsc-dialog-box h2 {
  font: var(--dsc-font-bold-lg);
  color: var(--dsc-color-primary);
}

.dsc-dialog-info-button {
  font: var(--dsc-font-bold-md);
}