#dsc-product-listing-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dsc-listing-title {
  text-align: center;
  font: var(--dsc-font-bold-md);
  color: var(--dsc-color-primary);
}

.dsc-button-new-product {
  font: var(--dsc-font-bold-md);
}

.dsc-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: var(--dsc-color-primary);
}

.dsc-table thead {
  height: 55px;
  font: var(--dsc-font-bold-sm);
}

.dsc-table thead,
.dsc-table tbody tr {
  background-color: var(--dsc-bg-secondary);
}

.dsc-table tbody {
  font: var(--dsc-font-regular-xs);
}

.dsc-table th:nth-child(2) {
  border-top-left-radius: var(--dsc-border-radius-xlg);
}

.dsc-table th:last-child {
  border-top-right-radius: var(--dsc-border-radius-xlg);
}

.dsc-table .dsc-tb576,
.dsc-table .dsc-tb768 {
  display: none;
}

.dsc-table tbody tr {
  border-top: var(--dsc-border-primary);
  height: 70px;
}

.dsc-table td:nth-child(2) {
  padding-left: 10px;
}

.dsc-table td:nth-child(3) {
  padding: 0 10px 0 8px;
}

.dsc-table td:last-child {
  padding-right: 10px;
}

.dsc-product-listing-image {
  width: 69px;
  height: 69px;
  display: block;
}

.dsc-product-listing-btn {
  height: 20px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}

@media (min-width: 576px) {
  .dsc-listing-title {
    text-align: start;
    font: var(--dsc-font-bold-xlg);
  }

  .dsc-button-new-product {
    width: 220px;
  }

  .dsc-table .dsc-tb576 {
    display: table-cell;
    text-align: center;
  }

  .dsc-table th:first-child {
    border-top-left-radius: var(--dsc-border-radius-xlg);
    padding-left: 20px;
  }

  .dsc-table th:nth-child(2) {
    border-top-left-radius: unset;
  }

  .dsc-table td:nth-child(1) {
    padding-left: 20px;
  }

  .dsc-table td:nth-child(2) {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .dsc-tb768 {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .dsc-table tbody {
    font: var(--dsc-font-regular-md);
  }
}