
header {
  background-color: var(--ds-color-bg-secondary);
  height: 70px;
  padding: 17px auto;
}

h1 {
  color: var(--ds-color-font-primary);
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 576px) {
  h1 {
    font-size: 22px;
    height: 36px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 24px;
    height: 36px;
  }
}