.dsgh-search-container {
  margin: 10px;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dsgh-search {
  background-color: var(--dsgh-bg-color-tertiary);
}

.dsgh-search-title {
  font-size: 24px;
}

.dsgh-search-input {
  padding: 16px 8px;
  height: 40px;
  width: 270px;
  border: 1px solid var(--dsgh-color-tertiary);
  border-radius: 6px;
  margin: 16px 0 24px 0;
  font-size: var(--font-size-small);
}

.dsgh-search-input:focus {
  outline: none;
}

.dsgh-search-input::placeholder {
  color: var(--dsgh-color-tertiary);
  font-size: var(--font-size-small);
}

.dsgh-user-container {
  margin: 10px;
}

.dsgh-user-info {
  background-color: var(--dsgh-bg-color-quaternary);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 29px;
  border-radius: 8px;
  padding: 15px;
}

.dsgh-user-img {
  min-width: 247px;
  height: 247px;
}

.dsgh-user-img img {
  width: 100%;
  height: 100%;
}

.dsgh-user-data {
  background-color: var(--dsgh-bg-color-primary);
  border: 1px solid var(--dsgh-border-primary);
  border-radius: 6px;
  padding: 8px 14px;
  width: 100%;
}

.dsgh-user-data h3 {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-title);
  color: var(--dsgh-color-quaternary);
  margin-bottom: 19px;
  line-height: 28px;
}

.dsgh-data-row {
  border: 1px solid var(--dsgh-border-primary);
  padding: 8px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #737373;
}

.dsgh-data-row-title {
  font-weight: 700;
}

.dsgh-data-row-link:link,
.dsgh-data-row-link:visited {
  text-decoration: none;
  color: #0066cc;
}

.dsgh-error-message {
  font-size: 38px;
  font-weight: var(--font-weight-title);
  color: var(--dsgh-color-secondary);
  margin: 20px 10px;
}

@media (min-width: 576px) {
  .dsgh-search-container {
    margin: 54px;
    padding: 54px 31px;
  }

  .dsgh-user-container,
  .dsgh-error-message {
    margin: 54px;
  }

  .dsgh-search-title {
    font-size: 32px;
  }

  .dsgh-search-input {
    width: 298px;
    padding: 8px 17px;
  }

  .dsgh-search-input::placeholder {
    font-size: 16px;
  }

  .dsgh-btn-primary {
    padding: 8px 16px;
    width: 101px;
  }
}

@media (min-width: 768px) {
  .dsgh-user-info {
    flex-direction: row;
    align-items: flex-start;
    padding: 43px 35px;
  }
}

@media (min-width:1200px) {
  .dsgh-search-container,
  .dsgh-user-container,
  .dsgh-error-message {
    margin: 54px 90px;
  }

  .dsgh-search-title {
    font-size: 38px;
  }

  .dsgh-user-data {
    height: 247px;
  }
}