.dsf-header-container {
  background-color: var(--dsf-bg-primary);
  height: 70px;
  padding: 24px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dsf-color-primary);
}

.dsf-header-container h1 {
  font: var(--dsf-font-title);
}

.dsf-header-quantity {
  font: var(--dsf-font-subtitle);
}