@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dsf-bg-primary: #55BC04;
  --dsf-bg-secondary: #FFFFFF;
  --dsf-bg-tertiary: #C2C2C2;

  --dsf-color-primary: #FFFFFF;
  --dsf-color-secondary: #C2C2C2;
  --dsf-color-tertiary: #55BC04;
  --dsf-color-quaternary: #6F6F6F;

  --dsf-font-title: 700 20px/1 Roboto;
  --dsf-font-subtitle: 700 12px/1 Roboto;
  --dsf-font-regular: 400 16px/1 Roboto;
  --dsf-font-regular-small: 400 12px/1 Roboto;
  --dsf-font-regular-bold: 700 16px/1 Roboto;

  --dsf-border-primary: 1px solid #C2C2C2;
  --dsf-border-secondary: 1px solid #55BC04;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}