@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-size-title: 24px;
  --font-size-title-lg: 38px;

  --font-size-small: 16px;
  --font-size-regular: 20px;
  
  --font-line-height-title: 32px;
  --font-line-height-title-lg: 46px;
  
  --font-weight-regular: 400;
  --font-weight-title: 500;
  --font-weight-bold: 700;
  
  --dsgh-bg-color-primary: #ffffff;
  --dsgh-bg-color-secondary: #1890FF;
  --dsgh-bg-color-tertiary: #E6F7FF;
  --dsgh-bg-color-quaternary: #F5F5F5;
  
  --dsgh-color-primary: #fff;
  --dsgh-color-secondary: #262626;
  --dsgh-color-tertiary: #BFBFBF;
  --dsgh-color-quaternary: #1890FF;

  --dsgh-bg-btn-primary: #1890FF;

  --dsgh-border-primary: #D9D9D9;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pd-15 {
  padding: 15px;
} 

.dsgh-btn-primary {
  background-color: var(--dsgh-bg-btn-primary);
  border-radius: 4px;
  border: 1px solid var(--dsgh-bg-btn-primary);
  color: var(--dsgh-color-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
}