@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --dsc-font-family-primary: "Open Sans", sans-serif;

  --dsc-bg-primary: #e8e8e8;
  --dsc-bg-secondary: #ffffff;
  --dsc-bg-tertiary: #3483fa;
  --dsc-bg-quaternary: #636363;

  --dsc-bg-header-primary: #ffe500;
  --dsc-bg-header-secondary: #0caf1d;
  --dsc-bg-notification: #f00f00;

  --dsc-color-primary: #636363;
  --dsc-color-secondary: #ffffff;
  --dsc-color-tertiary: #0caf1d;
  --dsc-color-quaternary: #3483fa;
  --dsc-color-placeholder: #d9d9d9;
  --dsc-color-error: #ff3333;

  --dsc-font-bold-xlg: 700 24px/1 var(--dsc-font-family-primary);
  --dsc-font-bold-lg: 700 20px/1 var(--dsc-font-family-primary);
  --dsc-font-bold-md: 700 16px/1 var(--dsc-font-family-primary);
  --dsc-font-bold-sm: 700 14px/1 var(--dsc-font-family-primary);
  --dsc-font-bold-xs: 700 12px/1 var(--dsc-font-family-primary);
  --dsc-font-bold-xxs: 700 10px/1.2 var(--dsc-font-family-primary);

  --dsc-font-regular-md: 400 16px/1 var(--dsc-font-family-primary);
  --dsc-font-regular-sm: 400 14px/1 var(--dsc-font-family-primary);
  --dsc-font-regular-xs: 400 12px/1.2 var(--dsc-font-family-primary);
  --dsc-font-regular-xxs: 400 10px/1.2 var(--dsc-font-family-primary);

  --dsc-border-radius-sm: 4px;
  --dsc-border-radius-round: 50%;

  --dsc-border-primary: 1px solid #d9d9d9;
  --dsc-border-secondary: 1px solid #3483fa;
  --dsc-border-error: 1px solid #ff3333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--dsc-font-family-primary);
}

html,
body {
  background-color: var(--dsc-bg-primary);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
}

.dsc-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 20px 20px;
}

.dsc-card {
  background-color: var(--dsc-bg-secondary);
  border: var(--dsc-border-primary);
  border-radius: var(--dsc-border-radius-sm);
}

.dsc-button {
  height: 42px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--dsc-border-secondary);
  border-radius: var(--dsc-border-radius-sm);
  cursor: pointer;
  padding: 10px 0px;
}

.dsc-button-primary {
  background-color: var(--dsc-bg-tertiary);
  color: var(--dsc-color-secondary);
}

.dsc-button-secondary {
  background-color: var(--dsc-bg-secondary);
  color: var(--dsc-color-quaternary);
}
